.wrapper_with_padding
	#notes.clearfix
		- unless @notes.blank?
			- @notes.each do |note|
				%a{ href: (url_for [note])}
					.note
						%p.title= note.title
						
		- else
			%h2 Добавить новую заметку
			.buttons
			= link_to "Новая заметка", new_note_path, class: "button"